@model PageListViewModel<NorthwindApp.FrontEnd.Mvc.ViewModels.Categories.CategoryResponseViewModel>
@{
    ViewData["Title"] = "Categories";
}

<section class="container" id="home">
    <div class="row pt-2">
        <div class="col-md-7 mt-5">
            <h1 class="home__title mb-2">Northwind food</h1>
            <h2 class="home__subtitle mb-4 py-3">Try the best food of <br> the week</h2>
            <a href="#categories" class="btn btn-home">View Menu</a>
        </div>
        <div class="col-md-5">
            <img src="~/img/home.png" class="img-fluid" alt="Alternate Text" />
        </div>
    </div>
</section>

<section class="container pt-3">
    <h1 class="row justify-content-center py-3" id="categories">Categories</h1>
        @if (this.User.IsInRole("Admin") || this.User.IsInRole("Employee"))
        {
            <div class="row justify-content-center mt-3">
                <a class="btn btn-primary" type="button" asp-controller="Categories" asp-action="AddCategory">Add category</a>
            </div>
        }
        <div class="row mt-3">
            @foreach (var category in Model.Items)
            {
                <div class="col-md-3 mb-4">
                    <div class="card shadow h-100">
                        @if (category.HasImage)
                        {
                            <img class="card-img-top" src="@Url.Action("GetPicture", "Categories", new { categoryId = category.Id })" alt="Category image cap">
                        }
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="stretched-link" style="position: relative;" asp-controller="Products" asp-action="ShowCategoryProducts" asp-route-categoryId="@category.Id">@category.Name</a>
                            </h5>
                            <p class="card-text">@category.Description</p>
                        </div>
                        @if (this.User.IsInRole("Admin") || this.User.IsInRole("Employee"))
                        {
                            <div class="card-footer">      
                                <div class="row position-relative text-center">
                                    <div class="col-6">
                                        <a class="btn btn-warning" asp-action="UpdateCategory" asp-route-categoryId="@category.Id">Edit</a>
                                    </div>
                                    <div class="col-6">
                                        <form method="post" asp-controller="Categories" asp-action="DeleteCategory" asp-route-categoryId="@category.Id">
                                            <input type="submit" class="btn badge-danger" value="Delete"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        
        <ul class="pagination justify-content-center mt-3">
            @for (int i = 1; i <= Model.PageInfo.CountOfPages; i++)
            {
                @if (Model.PageInfo.CurrentPage == i)
                {
                    <li class="page-item active">
                        <a class="page-link" asp-controller="Categories" asp-action="Index"
                           asp-route-page="@i" asp-route-pageSize="@Model.PageInfo.ItemsPerPage">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Categories" asp-action="Index"
                           asp-route-page="@i" asp-route-pageSize="@Model.PageInfo.ItemsPerPage">@i</a>
                    </li>
                }
            }
        </ul>
</section>

