@model NorthwindApp.FrontEnd.Mvc.ViewModels.PageListViewModel<NorthwindApp.FrontEnd.Mvc.ViewModels.Blogging.BlogArticleResponseViewModel>

@{
    ViewBag.Title = "Blog";
}

<h1>Blog</h1>

<div class="container mt-2">
    @if (this.User.IsInRole("Admin") || this.User.IsInRole("Employee"))
    {
        <div class="row justify-content-center mt-3">
            <a class="btn btn-primary" type="button" asp-controller="Blogging" asp-action="AddArticle">Publish article</a>
        </div>
    }

    <div class="row mt-2">
        <div class="col-md-12">
            @foreach (var blog in Model.Items)
            {
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">@blog.Title</h3>
                        <p class="card-text">@blog.Text[..(blog.Text.Length > 50 ? 50 : blog.Text.Length)]...</p>
                    </div>
                    <div class="card-footer">
                        <div class="d-inline-block">
                            <a asp-controller="Blogging" asp-action="ShowBlogArticle" asp-route-articleId="@blog.Id"
                               class="btn btn-outline-secondary">Continue Reading</a>
                        </div>
                        <div class="font-italic text-muted float-right d-inline-block">@blog.AuthorName</div>
                    </div>
                </div>
            }
            <ul class="pagination pagination-primary mt-3">
                @for (int i = 1; i <= Model.PageInfo.CountOfPages; i++)
                {
                    @if (Model.PageInfo.CurrentPage == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" asp-controller="Products" asp-action="Index"
                               asp-route-page="@i" asp-route-pageSize="@Model.PageInfo.ItemsPerPage">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Products" asp-action="Index"
                               asp-route-page="@i" asp-route-pageSize="@Model.PageInfo.ItemsPerPage">@i</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
