@model NorthwindApp.FrontEnd.Mvc.ViewModels.Blogging.BlogArticleInfoViewModel

@{
    ViewBag.Title = $"{Model.Title}";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title">@Model.Title</h3>
        <p class="card-text">@Model.Text</p>
        @if (this.User.IsInRole("Employee") && Model.AuthorId == ViewBag.northwindUserId)
        {
            <form method="post" class="d-flex align-items-center" asp-controller="Blogging" asp-action="DeleteBlogArticle" asp-route-blogArticleId="@Model.Id">
                <span class="font-weight-lighter">
                    <a class="text-secondary" asp-controller="Blogging" asp-action="UpdateArticle" asp-route-articleId="@Model.Id">Edit</a>
                </span>
                <input type="submit" class="btn btn-link text-danger ml-2 p-0 font-weight-lighter" value="Delete"/>
            </form>
        }

    </div>
</div>

@if (this.User.IsInRole("Customer"))
{

    <form class="mt-2" id="commentForm">
        <div class="form-group">
            <label>Comment</label>
            <textarea class="form-control" rows="3" name="Text" placeholder="Comment text."></textarea>
        </div>
        <button class="btn btn-success" type="button" onclick="submitComment()">Leave comment</button>
    </form>
}

<div class="col-6 mx-auto">
    @foreach (var comment in Model.Comments)
    {
        <div class="d-flex justify-content-center py-2">
            <div class="bg-white rounded shadow-lg py-2 px-2" style="min-width: 200px;">
                <span class="font-weight-lighter">@comment.Text</span>
                <div class="d-flex justify-content-between py-1 pt-2">
                    <div>
                        <i class="far fa-user"></i>
                        <span class="ml-2 font-weight-lighter">@comment?.Author?.ContactName</span>
                    </div>
                    @if (this.User.IsInRole("Customer") && comment.CustomerId == ViewBag.northwindUserId)
                    {
                        <form method="post" class="d-flex align-items-center" asp-controller="Blogging" asp-action="DeleteComment" asp-route-commentId="@comment.Id" asp-route-blogArticleId="@Model.Id">
                            <span class="mr-1 font-weight-lighter">
                                <a aria-expanded="false" href="@($"#editComment{comment.Id}")" data-toggle="collapse">Edit</a>
                            </span>
                            <input type="submit" class="btn btn-link text-danger ml-2 p-0 font-weight-lighter" value="Delete" />
                        </form>
                    }
                </div>
            </div>
        </div>
        @if (this.User.IsInRole("Customer") && comment.CustomerId == ViewBag.northwindUserId)
        {
            <div class="collapse" id="@($"editComment{comment.Id}")">
                <form class="mt-2" id="@($"editCommentForm{comment.Id}")">
                    <div class="form-group">
                        <input type="hidden" name="CommentId" value="@comment.Id"/>
                        <label>Edit comment</label>
                        <textarea class="form-control" rows="3" name="Text" placeholder="Comment text.">@comment.Text</textarea>
                    </div>
                    <button class="btn btn-secondary" type="button" onclick="editComment(@comment.Id)">Save changes</button>
                </form>
            </div>
        }
    }
</div>

<script type="text/javascript">
    function submitComment() {
        var commentData = $("#commentForm").serialize();
        console.log(commentData);

        $.ajax({
            url: "@Url.Action("AddComment", "Blogging", new { blogArticleId = Model.Id})",
            type: "POST",
            data: commentData,
            success: function(response) {
                window.location.reload();
            },

            error: function(xhr, status, err) {
                if (xhr.status == 401) {
                    window.location.replace('@Url.Action("Welcome", "Account")');
                    }
            }
        });
    }

    function editComment(commentId) {
        var commentData = (`#editCommentForm${commentId}`).serialize();
        console.log(commentData);

        $.ajax({
            url: "@Url.Action("EditComment", "Blogging", new { blogArticleId = Model.Id })",
            type: "POST",
            data: commentData,
            success: function(response) {
                window.location.reload();
            },

            error: function(xhr, status, err) {
                if (xhr.status == 401) {
                    window.location.replace('@Url.Action("Welcome", "Account")');
                }
            }
        });
    }
</script>