@model NorthwindApp.FrontEnd.Mvc.ViewModels.PageListViewModel<NorthwindApp.FrontEnd.Mvc.ViewModels.Products.ProductResponseViewModel>

@{
    ViewBag.Title = "Products";
}

<div class="container py-5">
    <h1 class="row justify-content-center">Products</h1>

    @if (this.User.IsInRole("Admin") || this.User.IsInRole("Employee"))
    {
        <div class="row justify-content-center mt-3">
            <a class="btn btn-primary" type="button" asp-controller="Products" asp-action="AddProduct">Add product</a>
        </div>
    }
    
    <div class="row mt-3">
        
    @foreach (var product in Model.Items)
    {
            <div class="col-lg-8 mx-auto">
                <ul class="list-group shadow">
                    <li class="list-group-item">
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">
                                    <a class="stretched-link" asp-action="ShowProduct" asp-route-id="@product.Id">@product.Name</a>
                                </h5>
                                @if (product.Discontinued)
                                {
                                    <p class="font-italic text-muted mb-0 small">ProductStatus</p>

                                }

                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    @if (product.UnitPrice.HasValue)
                                    {
                                        <h6 class="font-weight-bold my-2">@product.UnitPrice?.ToString("c")</h6>
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
    }
    </div>

    <ul class="pagination justify-content-center mt-3">
        @for (int i = 1; i <= Model.PageInfo.CountOfPages; i++)
        {
            @if (Model.PageInfo.CurrentPage == i)
            {
                <li class="page-item active">
                    <a class="page-link" asp-controller="Products" asp-action="Index"
                       asp-route-page="@i" asp-route-pageSize="@Model.PageInfo.ItemsPerPage">@i</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Products" asp-action="Index"
                       asp-route-page="@i" asp-route-pageSize="@Model.PageInfo.ItemsPerPage">@i</a>
                </li>
            }
        }
    </ul>
</div>