@model NorthwindApp.FrontEnd.Mvc.ViewModels.Products.CategoryProductListViewModel

@{
    ViewBag.Title = "Category Products";
}

<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Products</h1>
        </div>
    </div>
    @foreach (var product in Model.Items)
    {
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <ul class="list-group shadow">
                    <li class="list-group-item">
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">
                                    <a class="stretched-link" asp-action="ShowProduct" asp-route-id="@product.Id">@product.Name</a>
                                </h5>
                                @if (product.Discontinued)
                                {
                                    <p class="font-italic text-muted mb-0 small">ProductStatus</p>

                                }

                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    @if (product.UnitPrice.HasValue)
                                    {
                                        <h6 class="font-weight-bold my-2">@product.UnitPrice?.ToString("c")</h6>
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    }
    
    <ul class="pagination justify-content-center mt-3">
        @for (int i = 1; i <= Model.PageInfo.CountOfPages; i++)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Products" asp-action="ShowCategoryProducts"
                   asp-route-categoryId="@Model.CategoryId" asp-route-page="@i" asp-route-pageSize="@Model.PageInfo.ItemsPerPage">@i</a>
            </li>
        }
    </ul>
</div>


